@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(aniketh-badakala-ulKjTA6MaHM-unsplash.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
}
.first{
    width: 420px;
    color: #fff;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    padding: 30px 40px;
}
.first h1{
    font-size: 36px;
    text-align: center;
}
.first .input_box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255 , 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}
.input_box input::placeholder{
    color: #fff;
}
.input_box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50% );
    font-size: 20px;
}
.first .remember_forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}
.remember_forget label input{
    accent-color:#fff;
    margin-right: 3px;
}
.remember_forget a{
    color: #fff;
    text-decoration: none;
}
.remember_forget a:hover{
    text-decoration: underline;
}
.first .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none ;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.first .register_link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}
.register_link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register_link p a:hover{
    text-decoration: underline;

}
